# GITIGNORE

# Client Files
**/.curseClient
.mixin/**
.mixin*
.mixin.out/**
.persistent/**
**/*.dat
**/crash*
logs/**
**/*.log
**/*.json
saves/**
options.txt
crash-reports/**

# Server Files
eula.txt
./libraries/**
./world/**
